
<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
</head>

<div class="container">

<table class="noBorder">

	<tr>
		<td rowspan="4"><img gravatar-src="'{{geek.mail}}'" gravatar-size="100"></td>
	</tr>
	
	<tr>
		<td>{{geek.nom}} {{geek.prenom}}</td>
	</tr>
	
	<tr>
		<td>Age : {{geek.age}}</td>
	</tr>
	
	<tr>
		<td>mail : {{geek.mail}} </td>
	</tr>

	<tr>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td>Ses Centres d'intérêts :</td>
	</tr>
	<tr>
		<td>
		    <ul ng-repeat="interet in geek.interets">
				<li>
					{{interet.nom}}
				</li>				
			</ul>
		</td>
	</tr>	
	
	</table>
	<hr>
	<a class="btn btn-large btn-success" href="#">Retour</a>
	
	<p class="text-right">
	{{geek.vues}} geeks ont consultés ce profil
	</p>
</div>